
@import "./_reset";
@import "./variables";


/* common functions */
@mixin custFlexCenterAll() {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

@mixin custFlexAlignTop() {
    display: flex;
    align-items: top;
    justify-content: center;
    flex-flow: row wrap;
}

@mixin custColorBg($backgroundColor) {
    background-color: $backgroundColor;
}

@mixin custColorFt($color) {
    color: $color;
}

@mixin custThemeGrey9Blue1() {
    @include custColorBg($colorGrey9);
    @include custColorFt($colorBlue1);
}

@mixin custThemeBlue6Blue1() {
    @include custColorBg($colorBlue6);
    @include custColorFt($colorBlue1);
}

@mixin custThemeGrey2Grey9() {
    @include custColorBg($colorGrey2);
    @include custColorFt($colorGrey9);
}

@mixin custThemeGrey3Grey9() {
    @include custColorBg($colorGrey3);
    @include custColorFt($colorGrey9);
}

@mixin custFontSizeXXL() {
    font-size: 60px;
    font-size: 6rem;
}

@mixin custFontSizeXL() {
    font-size: 50px;
    font-size: 5rem;
}

@mixin custFontSizeL() {
    font-size: 40px;
    font-size: 4.0rem;
}

@mixin custFontSizeML() {
    font-size: 30px;
    font-size: 3.0rem;
}

@mixin custFontSizeM() {
    font-size: 24px;
    font-size: 2.4rem;
}

@mixin custFontSizeMS() {
    font-size: 20px;
    font-size: 2.4rem;
}

@mixin custFontSizeS() {
    font-size: 18px;
    font-size: 1.8rem;
}

@mixin custFontSizeXS() {
    font-size: 16px;
    font-size: 1.6rem;
}

@mixin custFontSizeXXS() {
    font-size: 12px;
    font-size: 1.2rem;
}


@mixin custFontFamMono() {
    font-family: 'Courier New', Courier, monospace;
}


@mixin custFontFamBasic() {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Arial, Helvetica, sans-serif;
}