
@import "./_rsrc";

@include custResetDoc();

.all__big-container {
    padding-top: 3em;
    padding-bottom: 3em;
}

.all__header-container, 
.all__footer-container {
    @include custFlexCenterAll();
    padding: 2em;
    
    background-color: $colorGrey9;
    color: $colorGrey2;
    text-align: center;
}

.header-name {
    font-size: 4rem;
}

.app {
    @include custFlexCenterAll();
    margin: auto;
    max-width: 60em;
}

.app-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: top;
    margin-top: 2em;
    margin-bottom: 2em;
    box-shadow: 0px 0px 20px black;
}

.personal {
    flex: 0.3;
    padding: 2.8em 2em 2em 2em;
    border: 2px solid black;
    border-right: none;
}

.info {
    flex: 0.7;
    padding: 1em;
    border: 2px solid black;
}

.full-name {
    font-size: 3rem;
    font-weight: 500;
}

.bio-title {
    margin-top: 2em;
}

.heading-title {
    @include custFontSizeXS();
    text-decoration: underline;
    color: $colorGrey7;
}

.edit-form {
    @include custFlexCenterAll();
    margin-bottom: 1em;
    padding: 1em;
}

.edit-box-container,
.edit-button-container {
    width: 100%;
}

.edit-title {
    @include custFontSizeXXS();
}

.edit-box {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.7em;
    border: 1px solid $colorGrey4;
    border-radius: 5px;

    @include custFontSizeXXS();
}

button {
    border: 1px solid $colorGrey9;
    border-radius: 14px;
    padding: 0.5em 0.7em 0.5em 0.7em;
    margin: 0.2em 0.3em 0em 0em;

    font-size: 1.3rem;
    background-color: $colorGrey9;
    color: $colorNeutral1;
}

button:active {
    background-color: $colorGrey7;
}

button:hover {
    cursor: pointer;
}

.fa:hover {
    cursor: pointer;
}

.interests-list {
    font-size: 0.9em;
    margin-top: 1em;
}

textarea {
    height: 10em;
}

.info-container {
    padding: 0.2em 0em 0.2em 0em;
    margin: 1em;
    border-radius: 15px;
    box-shadow: 0px 0px 15px $colorGrey4;

    background-color: $colorGrey2;
}

.info-title {
    margin: 0.5em 1em 0.5em 1em;
}

.info-box {
    border-radius: 15px;
    padding:0.7em;
    margin: 0em 0.7em 1em 0.7em;
    background-color: $colorWhite;
}

.info-year {
    @include custFontSizeXXS();
}

.info-place {
    margin-bottom: 0.3em; 

    font-weight: 600;
    font-size: 1.6rem;
}

.info-position {
    margin-bottom: 0.3em; 

    font-weight: 400;
    font-size: 1.4rem;
}